<div class="container">
<h1>Profiles of Hihi 2019 {{groupType}}</h1>
{{#each arrayOfGroup}}
<div>
<h3> {{name}} </h3>
<a href="/"+{[groupType}}+"/"+{{name}}><img src="{{image}}" alt="{{name}}"> </a> 
</div>
{{/each}}

</div>