<div class="container"> 

<p>{{name}}</p>
<p>{{bio}}</p>
<img src="{{image}}">

{{#each comments}}
<div> 
<h3> Comment:{{comment}} </h3>
<h4> From: {{commenter}} Date: {{date}}</h4>

</div>
{{/each}}

</div>

{{>addComment}}


